USE [master]
GO
IF NOT EXISTS (SELECT name FROM sys.databases WHERE name = N'DB_APLIKASI')
BEGIN
CREATE DATABASE [DB_APLIKASI] ON  PRIMARY 
( NAME = N'DB_APLIKASI', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL.1\MSSQL\DATA\DB_APLIKASI.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'DB_APLIKASI_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL.1\MSSQL\DATA\DB_APLIKASI_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
END

GO
EXEC dbo.sp_dbcmptlevel @dbname=N'DB_APLIKASI', @new_cmptlevel=90
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DB_APLIKASI].[dbo].[sp_fulltext_database] @action = 'disable'
end
GO
ALTER DATABASE [DB_APLIKASI] SET DB_CHAINING OFF 
USE [DB_APLIKASI]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[TBL_MAHASISWA]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[TBL_MAHASISWA](
	[NIM] [varchar](6) NOT NULL,
	[NamaMahasiswa] [varchar](50) NULL,
	[JenisKelamin] [varchar](20) NULL,
	[AlamatMahasiswa] [varchar](100) NULL,
	[TelpMahasiswa] [varchar](20) NULL,
 CONSTRAINT [PK_TBL_MAHASISWA] PRIMARY KEY CLUSTERED 
(
	[NIM] ASC
)WITH (IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
